<app-nav></app-nav>
<div class="container">
  <h2 class="text-center">Requestlines</h2>
  <div class="d-flex">
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      routerLink=""
    >
      New Requestline
    </button>
  </div>

  <table class="table table-lg table-hover" *ngIf="request">
    <thead class="text-center">
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Description</th>
        <th>Total</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>{{ request.id }}</td>
        <td>{{ request.user.username }}</td>
        <td>{{ request.description }}</td>
        <td>{{ request.total }}</td>
        <td>{{ request.status }}</td>
        <td>Review</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-lg table-hover">
    <thead class="text-center">
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Line Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let line of request.requestlines">
        <td>{{ line.id }}</td>
        <td>{{ line.product.name }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.product.price }}</td>
        <td>{{ line.product.price * line.quantity }}</td>
        <td>N/A</td>
      </tr>
    </tbody>
  </table>
</div>
