<app-nav></app-nav>
<h2 class="text-center">User Details</h2>
<div class="container">
  <table class="table table-sm mx-3 mt-3" *ngIf="user">
    <tbody>
      <tr>
        <th>Id</th>
        <td>
          <input [(ngModel)]="user.id" name="id" type="number" disabled />
        </td>
      </tr>
      <tr>
        <th>Username</th>
        <td>
          <input [(ngModel)]="user.username" type="text" readonly />
        </td>
      </tr>
      <tr>
        <th>Password</th>
        <td>
          <input [(ngModel)]="user.password" type="password" readonly />
        </td>
      </tr>
      <tr>
        <th>First Name</th>
        <td>
          <input [(ngModel)]="user.firstname" type="text" readonly />
        </td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>
          <input [(ngModel)]="user.lastname" type="text" readonly />
        </td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>
          <input [(ngModel)]="user.phone" type="number" readonly />
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <input [(ngModel)]="user.email" type="email" readonly />
        </td>
      </tr>
      <tr>
        <th>Reviewer?</th>
        <td>
          <input [(ngModel)]="user.isReviewer" type="checkbox" readonly />
        </td>
      </tr>
      <tr>
        <th>Admin?</th>
        <td>
          <input [(ngModel)]="user.isAdmin" type="checkbox" readonly />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mx-3">
    <button (click)="remove()" class="btn btn-danger btn-lg">Delete</button>
    <button
      *ngIf="showConfirmButton"
      (click)="verifyRemove()"
      class="ms-3 btn btn-danger btn-lg"
    >
      Confirm Delete
    </button>
  </div>
</div>
