<app-nav></app-nav>
<h2 class="text-center">Product Details</h2>
<div class="container">
  <table class="table table-sm mx-3 mt-3" *ngIf="product">
    <tbody>
      <tr>
        <th>Id</th>
        <td>
          <input [(ngModel)]="product.id" type="number" disabled />
        </td>
      </tr>
      <tr>
        <th>Vendor</th>
        <td>
          <input [(ngModel)]="product.vendor.name" type="text" readonly />
        </td>
      </tr>
      <tr>
        <th>Part Number</th>
        <td>
          <input [(ngModel)]="product.partNbr" type="text" readonly />
        </td>
      </tr>
      <tr>
        <th>Name</th>
        <td>
          <input [(ngModel)]="product.name" type="text" readonly />
        </td>
      </tr>
      <tr>
        <th>Price</th>
        <td>
          <input [(ngModel)]="product.price" type="number" readonly />
        </td>
      </tr>
      <tr>
        <th>Unit</th>
        <td>
          <input [(ngModel)]="product.unit" type="text" readonly />
        </td>
      </tr>
      <tr>
        <th>Photo Path</th>
        <td>
          <input [(ngModel)]="product.photoPath" type="text" readonly />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mx-3">
    <button (click)="remove()" class="btn btn-danger btn-lg">Delete</button>
    <button
      *ngIf="showConfirmButton"
      (click)="verifyRemove()"
      class="btn btn-danger btn-lg"
    >
      Confirm Delete
    </button>
  </div>
</div>
