<div class="card">
  <div>
    <h1 class="display-3 text-center">PRS Login</h1>
  </div>
  <form>
    <form>
      <div class="mb-3">
        <input
          name="username"
          type="text"
          placeholder="Username:"
          autocomplete="username"
          [(ngModel)]="username"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <input
          name="password"
          type="password"
          placeholder="Password:"
          autocomplete="current-password"
          [(ngModel)]="password"
          class="form-control"
        />
      </div>
      <button (click)="submit()" type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
  </form>
</div>
